:root {
    --teal: rgb(0, 85, 85); /* Darker teal */
    --yellow: rgb(255, 223, 0); /* Bright yellow */
    --pink: rgb(240, 128, 128);
    --purple: rgb(135, 206, 235);
}





h1{
    color: var(--teal);
    background-color: var(--yellow);
    border-color: var(--pink);
    
}