:root {
    --teal: rgb(173, 216, 230); /* Darker teal */
    --yellow: rgb(255, 255, 224); /* Bright yellow */
    --pink: rgb(34, 139, 34);
    --purple: rgb(255, 127, 80);
}





h1{
    color: var(--pink);
    background-color: var(--yellow);
    border-color: var(--pink);
    
}


header{
    padding: 1em;
    background-color: var(--yellow);
}

footer{
    background-color: var(--yellow);
}

.first{
    background-color: var(--teal);
}