*{font-family:"Roboto",'Courier New', Courier, monospace;}
:root{--blue: rgb(79, 160, 227); }


nav {
    display: flex;
    background-color: black;
    padding: 1em;
    text-align: center;
    justify-content: space-evenly;
   }

nav a{
  color: white;
}

.about {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  width: 90%;
  margin: 1em auto;
  gap: 1em;
}

.about h2{
  text-align: center;
  margin: 0;
  width: 100%;
}

.about img{
  padding:1em;
}

.about section{
  display:flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 15px;
  place-self: center; 
  margin: .5em; 
  height: 300px;
  width: 100%;
  overflow: hidden;
}

#webcert{
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  margin: 1em;
  width: 90%; 
  margin: 1em auto;
  overflow: hidden;
  
}

#webcert h2{
  margin: 0;
}

h2{
  background-color: var(--blue);
}

.profile {
  background-color: var(--blue);
  display: flex;
  align-items: center; 
  gap: 1em; 
  justify-content: center;
  padding: 1em;
}

.profile img {
  width: 100px; 
  height: auto; 
  border-radius: 50%; 
}

footer{justify-items: center;
background-color: var(--blue);}

.primary{
  padding:0 4em 0 4em;}