@media (min-width: 768px) {.about{
    grid-template-columns: 2fr 1fr;
}

.navigation{
    display:flex;
    align-items:baseline;
    
}
.navigation li{
    display: block;
    flex: 1 1 100%;
    
}
.navigation a {
    text-align: center;
    padding: 1em;
    display: block;
    
}

nav{
    grid-template-rows: 1fr;
}
#menu {
    display: none;
}

#course-buttons {
    grid-template-columns: repeat(3, 1fr); 

}

#filter-buttons{
    display: contents;
    justify-items: center;
  }
}